<!DOCTYPE html>
<html>
<head>
<link rel="Stylesheet" type="text/css" href="style.css">
<title>ng-checkbox</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<pre html>
  &lt;div ng-repeat='item in controller.items'&gt;
    &lt;md-checkbox
    ng-change='controller.function(item)'
    ng-model='controller.item'
    ng-checked='controller.isChecked(item, array)'
    aria-label="Checkbox 1"&gt;
    &lt;/md-checkbox&gt;
    &lt;/div&gt;
</pre>
<p>
  Be careful at ng-model because can mess up the ng-checked
</p>

<pre javascript>


  self.function = function(item){
    console.log(item);
  };

  self.isChecked = function(item, array){
    return array.indexOf(item) &gt; -1;
  };
</pre>

<p>
Se devi comparare un valore all'interno di oggetti nell'array devi prima
ricreare un array con i soli valori da comparare utilizzando MAP
</p>

<pre javascript>
return array.map(function(pr){ return pr.field; }).indexOf(item.id) &gt; -1;
</pre>
<p>
Qst return True or False
</p>

</body>
</html>
